@charset "UTF-8";
/* ==========================================================================
# rests css
========================================================================== */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, div, span, img, a, table, tr, th, td, small, button, time, figure {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

li, dd {
  list-style-type: none;
}

header, footer, nav, section, article, aside, figure, figcaption {
  display: block;
}

img {
  border: none;
  vertical-align: bottom;
}

a {
  cursor: pointer;
  text-decoration: none;
}

button {
  padding: 0;
  background-color: transparent;
  border: none;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
}

/* ==========================================================================
# breakpoints
========================================================================== */
/* ==========================================================================
# View Width
========================================================================== */
/* ==========================================================================
# easing
========================================================================== */
/* ==========================================================================
# animation
========================================================================== */
.effect,
.effectOnLoad {
  opacity: 0;
}

/* revealTextAnime
---------------------------------------------------------- */
.revealTextAnime,
.revealTextAnime::after {
  -webkit-animation-delay: 0;
          animation-delay: 0;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-duration: 800ms;
          animation-duration: 800ms;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
          animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.effect.revealTextAnime.is-animated,
.effectOnLoad.revealTextAnime.is-animated {
  display: inline-block;
  position: relative;
  white-space: nowrap;
  cursor: default;
  -webkit-animation-name: clipText;
          animation-name: clipText;
  -webkit-animation-delay: 0;
          animation-delay: 0;
  -webkit-animation-duration: 800ms;
          animation-duration: 800ms;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  opacity: 1;
}
.effect.revealTextAnime.is-animated::after,
.effectOnLoad.revealTextAnime.is-animated::after {
  content: "";
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #202037;
  transform: scaleX(0);
  transform-origin: 0 50%;
  pointer-events: none;
  -webkit-animation-name: textRevealer;
          animation-name: textRevealer;
}
.effect.revealTextAnime.is-animated.revealTextBgWhite::after,
.effectOnLoad.revealTextAnime.is-animated.revealTextBgWhite::after {
  background-color: #fff;
}

@-webkit-keyframes clipText {
  from {
    -webkit-clip-path: inset(0 100% 0 0);
            clip-path: inset(0 100% 0 0);
  }
  to {
    -webkit-clip-path: inset(0 0 0 0);
            clip-path: inset(0 0 0 0);
  }
}

@keyframes clipText {
  from {
    -webkit-clip-path: inset(0 100% 0 0);
            clip-path: inset(0 100% 0 0);
  }
  to {
    -webkit-clip-path: inset(0 0 0 0);
            clip-path: inset(0 0 0 0);
  }
}
@-webkit-keyframes textRevealer {
  0%, 50% {
    transform-origin: 0 50%;
  }
  60%, 100% {
    transform-origin: 100% 50%;
  }
  60% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(0);
  }
}
@keyframes textRevealer {
  0%, 50% {
    transform-origin: 0 50%;
  }
  60%, 100% {
    transform-origin: 100% 50%;
  }
  60% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(0);
  }
}
/* fadeUpAnime
---------------------------------------------------------- */
.effect.fadeUpAnime.is-animated {
  -webkit-animation-name: fadeUp;
          animation-name: fadeUp;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 95ms;
          animation-delay: 95ms;
  -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
          animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes fadeUp {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes fadeUp {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
/* fadeDownAnime
---------------------------------------------------------- */
.effectOnLoad.fadeDownAnime.is-animated {
  -webkit-animation-name: fadeDown;
          animation-name: fadeDown;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
          animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes fadeDown {
  0% {
    transform: translateY(-30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes fadeDown {
  0% {
    transform: translateY(-30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
/* slideIn
---------------------------------------------------------- */
.anime-slideIn {
  overflow: hidden;
  display: block;
}

.anime-slideIn-inner {
  display: block;
}

.js-leftAnime {
  opacity: 0;
}

.is-slide-LeftRight {
  -webkit-animation-name: slideTextX100;
          animation-name: slideTextX100;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0;
}

@-webkit-keyframes slideTextX100 {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideTextX100 {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.is-slide-RightLeft {
  -webkit-animation-name: slideTextX-100;
          animation-name: slideTextX-100;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0;
}

@-webkit-keyframes slideTextX-100 {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideTextX-100 {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
/* ==========================================================================
# fonts
========================================================================== */
@font-face {
  font-family: "Avenir";
  src: url("../font/metropolis-medium-webfont.woff2") format("woff2"), url("../font/metropolis-medium-webfont.woff") format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "Avenir";
  src: url("../font/metropolis-bold-webfont.woff2") format("woff2"), url("../font/metropolis-bold-webfont.woff") format("woff");
  font-weight: 600;
}
@font-face {
  font-family: "Avenir";
  src: url("../font/metropolis-black-webfont.woff2") format("woff2"), url("../font/metropolis-black-webfont.woff") format("woff");
  font-weight: 700;
}
/* ==========================================================================
# color
========================================================================== */
/* ==========================================================================
# clamp
========================================================================== */
/* ==========================================================================
# 共通設定
========================================================================== */
* {
  min-height: 0vw;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "Droid Sans", sans-serif;
  color: #444;
  line-height: 1.5;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
}

input {
  margin: 0;
  padding: 0;
}
input[type=submit] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0;
  border: none;
  outline: none;
  background: transparent;
}

textarea {
  padding: 0;
  font: inherit;
  color: inherit;
}

button {
  font: inherit;
  padding: 0;
  background-color: transparent;
  border: none;
  color: inherit;
  cursor: pointer;
}

/* ==========================================================================
# display
========================================================================== */
@media screen and (min-width: 768px) {
  .is-sp {
    display: none;
  }
}
@media screen and (max-width: 750px) {
  .is-sp {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .is-pc {
    display: block;
  }
}
@media screen and (max-width: 750px) {
  .is-pc {
    display: none;
  }
}
/* ==========================================================================
# component
========================================================================== */
.c-btn {
  display: block;
  width: min(100%, 300px);
  margin: 0 auto;
  padding: clamp(2.6rem, 2.2685082873rem + 0.8839779006vw, 3.4rem) 0;
  font-weight: bold;
  color: #fff;
  text-align: center;
  letter-spacing: 0.126em;
  border-radius: 100px;
  background: #202037;
  border: 4px solid #202037;
  box-sizing: content-box;
}
@media screen and (max-width: 1025px) {
  .c-btn-service {
    width: 100%;
  }
}
.c-btn.slideInBtnAnime {
  overflow: hidden;
  position: relative;
  z-index: 1;
  transition: all 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.c-btn.slideInBtnAnime::after {
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  z-index: -1;
}
.c-btn.slideInBtnAnime:hover {
  color: #202037;
}
.c-btn.slideInBtnAnime:hover::after {
  transform: scale(1, 1);
}

.c-contact {
  padding: clamp(8rem, 5.7209944751rem + 6.0773480663vw, 13.5rem) 0 clamp(10rem, 7.7209944751rem + 6.0773480663vw, 15.5rem);
}
@media screen and (max-width: 765px) {
  .c-contact {
    padding-left: 8vw;
    padding-right: 8vw;
  }
}
.c-contact__text {
  font-size: clamp(1.6rem, 1.4342541436rem + 0.4419889503vw, 2rem);
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: 0.126em;
  text-align: center;
}
.c-contact__link {
  margin-top: 36px;
}
.c-contact__btn {
  display: block;
  width: 520px;
  margin: 0 auto;
  padding: clamp(2.6rem, 2.2685082873rem + 0.8839779006vw, 3.4rem) 0;
  font-size: clamp(1.6rem, 0.9370165746rem + 1.7679558011vw, 3.2rem);
  font-weight: 600;
  font-family: "Avenir", sans-serif;
  color: #fff;
  text-align: center;
  letter-spacing: 0.126em;
  border-radius: 100px;
  background: linear-gradient(to bottom right, #364d6a 0%, #599dc0 100%);
  background-size: 200% auto;
  transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.c-contact__btn:hover {
  transform: scale(0.95);
  background-position: right center;
}
@media screen and (max-width: 765px) {
  .c-contact__btn {
    width: 100%;
  }
}

.c-card {
  position: relative;
}
.c-card__link {
  display: block;
}
.c-card__link:hover img {
  transform: scale(1.1);
}
.c-card__thumb {
  overflow: hidden;
}
.c-card__thumb img {
  aspect-ratio: 335/231;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.c-card__category {
  position: absolute;
  top: 0;
  left: 0;
  width: min((64/375)*100vw,64px);
  padding: 0.4em 0;
  background: #fff;
  border: 1px solid #707070;
}
@media screen and (max-width: 765px) {
  .c-card__category {
    padding: 0.2em 0;
  }
}
.c-card__category-text {
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
}
.c-card__data {
  font-size: clamp(1rem, 0.7513812155rem + 0.6629834254vw, 1.6rem);
  font-weight: bold;
  color: #A4ABB0;
  letter-spacing: 0;
  margin-top: 0.45em;
}
.c-card__title {
  font-size: clamp(1.4rem, 1.1513812155rem + 0.6629834254vw, 2rem);
  font-weight: bold;
  color: #5B5C5C;
  line-height: 1.2;
  letter-spacing: 0.126em;
  margin: 0.65em 0;
}
.c-card__text {
  font-size: clamp(1.2rem, 1.0342541436rem + 0.4419889503vw, 1.6rem);
  font-weight: bold;
  color: #A4ABB0;
  line-height: 1.5;
  letter-spacing: 0;
}
@media screen and (max-width: 765px) {
  .c-card__text {
    line-height: 1.7;
  }
}

.c-entry__wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1280/288;
  width: 100%;
  max-height: 288px;
  background: #202037;
}
.c-entry__title {
  font-size: clamp(2.4rem, 1.4055248619rem + 2.6519337017vw, 4.8rem);
  font-family: "Avenir", sans-serif;
  font-weight: 600;
  color: #fff;
  letter-spacing: 0.208em;
}
.c-entry__thumb {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.c-entry__thumb.-about {
  aspect-ratio: 1280/436;
  max-height: 436px;
}
.c-entry__thumb.-service {
  aspect-ratio: 1280/240;
  max-height: 240px;
}
.c-entry__image {
  position: absolute;
  bottom: 0;
  left: 0;
}

.c-pager {
  display: flex;
  overflow-x: auto;
  margin-top: min((68/375)*100vw,68px);
  padding-bottom: 20px;
}
.c-pager__inner {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
.c-pager__item + .c-pager__item {
  margin-left: 14px;
}
.c-pager__link {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: min((45/375)*100vw,45px);
  height: min((45/375)*100vw,45px);
  font-size: clamp(1.4rem, 1.3171270718rem + 0.2209944751vw, 1.6rem);
  font-family: "Avenir", sans-serif;
  color: #1D1D1D;
  border: 1px solid #707070;
  transition: 0.25s;
}
.c-pager__link:focus, .c-pager__link:hover {
  color: #fff;
  background: #202037;
  border: 1px solid #202037;
  opacity: 0.75;
}
.c-pager__link.is-current {
  color: #fff;
  background: #202037;
  border: 1px solid #202037;
  pointer-events: none;
}
.c-pager__link.next::after {
  content: "";
  display: inline-block;
  width: min((13/375)*100vw,13px);
  height: min((13/375)*100vw,13px);
  border-top: 1px solid #707070;
  border-right: 1px solid #707070;
  transform: rotate(45deg);
  margin-right: 5px;
  vertical-align: middle;
}
.c-pager__link.next:focus::after, .c-pager__link.next:hover::after {
  border-color: #fff;
  opacity: 0.75;
}
.c-pager .wp-pagenavi {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
.c-pager .wp-pagenavi a.page,
.c-pager .wp-pagenavi .current {
  margin-left: min((14/375)*100vw,14px);
}
.c-pager .wp-pagenavi a.page,
.c-pager .wp-pagenavi .current,
.c-pager .wp-pagenavi .previouspostslink,
.c-pager .wp-pagenavi .nextpostslink {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: min((45/375)*100vw,45px);
  height: min((45/375)*100vw,45px);
  font-size: clamp(1.4rem, 1.3171270718rem + 0.2209944751vw, 1.6rem);
  font-family: "Avenir", sans-serif;
  color: #1D1D1D;
  border: 1px solid #707070;
}
.c-pager .wp-pagenavi a.page,
.c-pager .wp-pagenavi .previouspostslink,
.c-pager .wp-pagenavi .nextpostslink {
  transition: 0.25s;
}
.c-pager .wp-pagenavi a.page:focus, .c-pager .wp-pagenavi a.page:hover,
.c-pager .wp-pagenavi .previouspostslink:focus,
.c-pager .wp-pagenavi .previouspostslink:hover,
.c-pager .wp-pagenavi .nextpostslink:focus,
.c-pager .wp-pagenavi .nextpostslink:hover {
  color: #fff;
  background: #202037;
  border: 1px solid #202037;
  opacity: 0.75;
}
.c-pager .wp-pagenavi .current {
  color: #fff;
  background: #202037;
  border: 1px solid #202037;
  pointer-events: none;
}
.c-pager .wp-pagenavi .previouspostslink {
  position: relative;
}
.c-pager .wp-pagenavi .previouspostslink::after {
  content: "";
  position: absolute;
  display: inline-block;
  top: 50%;
  right: 28%;
  width: min((13/375)*100vw,13px);
  height: min((13/375)*100vw,13px);
  border-bottom: 1px solid #707070;
  border-left: 1px solid #707070;
  transform: translateY(-50%) rotate(45deg);
}
.c-pager .wp-pagenavi .nextpostslink {
  position: relative;
  margin-left: min((14/375)*100vw,14px);
}
.c-pager .wp-pagenavi .nextpostslink::after {
  content: "";
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 28%;
  width: min((13/375)*100vw,13px);
  height: min((13/375)*100vw,13px);
  border-top: 1px solid #707070;
  border-right: 1px solid #707070;
  transform: translateY(-50%) rotate(45deg);
}

.c-map__top {
  aspect-ratio: 1280/408;
  width: 100%;
}
@media screen and (max-width: 765px) {
  .c-map__top {
    aspect-ratio: 375/408;
  }
}
.c-map__about {
  aspect-ratio: 1280/575;
  width: 100%;
}
@media screen and (max-width: 765px) {
  .c-map__about {
    aspect-ratio: 375/575;
  }
}

/* ==========================================================================
# layout
========================================================================== */
/* ==========================================================================
# header
========================================================================== */
.l-header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.95);
}
.l-header__inner {
  position: relative;
  display: flex;
  align-items: center;
  width: min(84%, 1100px);
  height: clamp(6.5rem, 4.5939226519rem + 5.0828729282vw, 11.1rem);
  margin: 0 auto;
}
.l-header__title {
  width: clamp(164px, 15vw, 194px);
  line-height: 1;
}
.l-header__title-link {
  display: block;
}
.l-header__nav {
  margin-left: auto;
}
@media screen and (max-width: 765px) {
  .l-header__nav {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    transform: translateX(100%);
    background-color: rgba(255, 255, 255, 0.95);
    transition: ease 0.4s;
    z-index: 100;
  }
  .l-header__nav.is-openMenu {
    transform: translateX(0);
  }
}
.l-header__nav-list {
  display: flex;
}
@media screen and (max-width: 765px) {
  .l-header__nav-list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    align-items: center;
  }
}
.l-header__nav-item {
  font-size: clamp(1.2rem, 1.0342541436rem + 0.4419889503vw, 1.6rem);
  font-family: "Avenir", sans-serif;
  font-weight: 400;
  color: #444;
  letter-spacing: 0.125em;
}
.l-header__nav-item + .l-header__nav-item {
  margin-left: 3.25em;
}
@media screen and (max-width: 765px) {
  .l-header__nav-item + .l-header__nav-item {
    margin-left: 0;
    margin-top: 8.8vw;
  }
}
.l-header__nav-item:nth-child(1) {
  -webkit-animation-delay: 95ms;
          animation-delay: 95ms;
}
.l-header__nav-item:nth-child(2) {
  -webkit-animation-delay: 120ms;
          animation-delay: 120ms;
}
.l-header__nav-item:nth-child(3) {
  -webkit-animation-delay: 135ms;
          animation-delay: 135ms;
}
.l-header__nav-item:nth-child(4) {
  -webkit-animation-delay: 330ms;
          animation-delay: 330ms;
}
.l-header__nav-item:nth-child(5) {
  -webkit-animation-delay: 525ms;
          animation-delay: 525ms;
}
.l-header__nav-link {
  position: relative;
  display: inline-block;
}
.l-header__nav-link::after {
  content: "";
  display: block;
  height: 1px;
  width: 100%;
  background: #364d6a;
  position: absolute;
  bottom: 0;
  left: 0;
  transform-origin: right top;
  transform: scale(0, 1);
  transition: transform 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.l-header__nav-link:hover {
  color: #364d6a;
}
.l-header__nav-link:hover::after {
  transform-origin: left top;
  transform: scale(1, 1);
}
@media screen and (max-width: 765px) {
  .l-header__nav-link {
    display: block;
    width: 100%;
    font-size: 2rem;
  }
}
.l-header__menu {
  position: relative;
  width: 30px;
  height: 80px;
  margin-left: auto;
  z-index: 200;
}
.l-header__menu-inline {
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 1px;
  left: 50%;
  transform: translateX(-50%);
  background: #444;
  transition: all 0.4s;
}
.l-header__menu-inline:nth-child(1) {
  top: 30px;
}
.l-header__menu-inline:nth-child(2) {
  top: 50%;
  transform: translate(-50%, -50%);
}
.l-header__menu-inline:nth-child(3) {
  bottom: 30px;
}
.l-header__menu.is-openMenu .l-header__menu-inline:nth-child(1) {
  transform: translate(-50%, 10px) rotate(45deg);
}
.l-header__menu.is-openMenu .l-header__menu-inline:nth-child(2) {
  opacity: 0;
}
.l-header__menu.is-openMenu .l-header__menu-inline:nth-child(3) {
  transform: translate(-50%, -10px) rotate(-45deg);
}

/* ==========================================================================
# footer
========================================================================== */
.l-footer__bottom {
  height: clamp(16.5rem, 16.0856353591rem + 1.1049723757vw, 17.5rem);
  background: #202037;
}

/* ==========================================================================
# project
========================================================================== */
/* ==========================================================================
# top
========================================================================== */
.p-top {
  padding-bottom: clamp(17.4rem, 15.7425414365rem + 4.4198895028vw, 21.4rem);
  /* common
  ---------------------------------------------------------- */
  /* main-visual
  ---------------------------------------------------------- */
  /* entrance
  ---------------------------------------------------------- */
  /* service
  ---------------------------------------------------------- */
  /* blog
  ---------------------------------------------------------- */
}
.p-top__section-title {
  font-size: clamp(2.4rem, 1.4055248619rem + 2.6519337017vw, 4.8rem);
  font-family: "Avenir", sans-serif;
  font-weight: 600;
  color: #A4ABB0;
  letter-spacing: 0.126em;
}
.p-top__mv {
  position: relative;
  /* Swiper ズームイン設定 */
}
.p-top__mv-message {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  padding-left: 7.031vw;
  z-index: 10;
}
@media screen and (max-width: 765px) {
  .p-top__mv-message {
    padding-left: 4.8vw;
  }
}
.p-top__mv-message-main {
  width: min(55vw ,715px);
}
@media screen and (max-width: 765px) {
  .p-top__mv-message-main {
    width: 83.2vw;
  }
}
.p-top__mv-message-sub {
  font-size: clamp(1.6rem, 1.2685082873rem + 0.8839779006vw, 2.4rem);
  font-weight: bold;
  color: #fff;
  line-height: 1.6666666667;
  letter-spacing: 0.08em;
  margin-top: 2.25em;
}
@media screen and (max-width: 765px) {
  .p-top__mv-message-sub {
    margin-top: 1.875em;
  }
}
.p-top__mv-image {
  display: block;
  aspect-ratio: 1280/750;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 765px) {
  .p-top__mv-image {
    aspect-ratio: 375/464;
  }
}
.p-top__mv .swiper-slide-active,
.p-top__mv .swiper-slide-duplicate-active,
.p-top__mv .swiper-slide-prev {
  overflow: hidden;
}
.p-top__mv .swiper-slide-active .slide-media img,
.p-top__mv .swiper-slide-duplicate-active .slide-media img,
.p-top__mv .swiper-slide-prev .slide-media img {
  -webkit-animation: zoomUp 10s linear 0s 1 normal both;
          animation: zoomUp 10s linear 0s 1 normal both;
}
@-webkit-keyframes zoomUp {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.15);
  }
}
@keyframes zoomUp {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.15);
  }
}
.p-top__entrance {
  position: relative;
  z-index: 10;
}
.p-top__entrance-inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: -2.734vw;
}
@media screen and (max-width: 765px) {
  .p-top__entrance-inner {
    flex-direction: column-reverse;
    margin-top: 8vw;
  }
}
.p-top__entrance-about {
  width: 56.719vw;
  margin-top: -7.813vw;
  padding: 7.188vw 14.219vw 4.844vw 7.031vw;
  background: linear-gradient(#364d6a 0%, #599dc0 100%);
}
@media screen and (max-width: 765px) {
  .p-top__entrance-about {
    position: static;
    width: 100%;
    padding: 0 8vw;
    margin-top: 7.467vw;
    background: #fff;
  }
}
.p-top__entrance-about-title {
  font-size: clamp(2.2rem, 2.1171270718rem + 0.2209944751vw, 2.4rem);
  font-weight: bold;
  color: #fff;
  line-height: 1.6666666667;
  letter-spacing: 0.08em;
}
@media screen and (max-width: 765px) {
  .p-top__entrance-about-title {
    color: #333;
    line-height: 1.8181818182;
    letter-spacing: 0.02em;
  }
}
.p-top__entrance-about-text {
  font-size: clamp(1.2rem, 1.0342541436rem + 0.4419889503vw, 1.6rem);
  font-weight: bold;
  color: #fff;
  line-height: 2;
  letter-spacing: 0.126em;
  margin-top: 2.188vw;
}
@media screen and (max-width: 765px) {
  .p-top__entrance-about-text {
    color: #333;
    line-height: 1.6666666667;
    margin-top: 14.933vw;
  }
}
.p-top__entrance-news {
  position: relative;
  width: 50.156vw;
  padding: 7.031vw 7.031vw 7.031vw 4.375vw;
  margin-left: -6.719vw;
  background: #FAFAFA;
  z-index: 1;
}
@media screen and (max-width: 765px) {
  .p-top__entrance-news {
    width: 100%;
    padding: 0 8vw;
    margin: 0;
    background: #fff;
  }
  .p-top__entrance-news::after {
    content: "";
    display: block;
    width: 100%;
    border-top: 10px solid #202037;
    margin-top: 6.4vw;
  }
}
.p-top__entrance-news-head {
  font-size: 2.4rem;
  font-family: "Avenir", sans-serif;
  font-weight: 600;
  letter-spacing: 0.125em;
  color: #A4ABB0;
}
@media screen and (max-width: 765px) {
  .p-top__entrance-news-head {
    color: #364D6A;
  }
}
.p-top__entrance-news-list {
  margin-top: 40px;
}
@media screen and (max-width: 765px) {
  .p-top__entrance-news-list {
    margin-top: 2.133vw;
  }
}
.p-top__entrance-news-item {
  display: flex;
  align-items: flex-start;
}
.p-top__entrance-news-item + .p-top__entrance-news-item {
  margin-top: 1.719vw;
}
.p-top__entrance-news-data {
  width: 108px;
  margin-right: clamp(2.8rem, 1.9712707182rem + 2.2099447514vw, 4.8rem);
  font-size: clamp(1.2rem, 1.0342541436rem + 0.4419889503vw, 1.6rem);
  font-family: "Avenir", sans-serif;
  font-weight: 400;
  line-height: 1.7142857143;
  letter-spacing: 0.126em;
}
@media screen and (max-width: 765px) {
  .p-top__entrance-news-data {
    font-weight: 600;
  }
}
.p-top__entrance-news-link {
  display: block;
}
.p-top__entrance-news-title {
  font-size: clamp(1.2rem, 1.1171270718rem + 0.2209944751vw, 1.4rem);
  line-height: 1.7142857143;
  letter-spacing: 0.126em;
}
@media screen and (max-width: 765px) {
  .p-top__entrance-news-title {
    line-height: 1.5;
    letter-spacing: 0;
  }
}
.p-top__service {
  width: min(84%, 1100px);
  margin: clamp(7.8rem, 6.391160221rem + 3.7569060773vw, 11.2rem) auto 0;
}
.p-top__service-list {
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(3, 1fr);
  margin-top: clamp(3.4rem, 2.3226519337rem + 2.8729281768vw, 6rem);
}
@media screen and (max-width: 765px) {
  .p-top__service-list {
    grid-template-columns: repeat(1, 1fr);
  }
}
.p-top__service-item {
  position: relative;
}
.p-top__service-item-image {
  aspect-ratio: 328/227;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
.p-top__service-item-title {
  position: absolute;
  width: 90.85%;
  font-size: min(1.875vw, 2.4rem);
  font-weight: bold;
  letter-spacing: 0.126em;
  text-align: center;
  padding: 0.6em 0 0.6em 19.21%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 3px solid #2C334B;
  background: #fff;
}
@media screen and (max-width: 765px) {
  .p-top__service-item-title {
    font-size: 6.4vw;
  }
}
.p-top__service-item-title::before {
  position: absolute;
  content: attr(data-number);
  top: 0;
  left: 0;
  width: 21.58%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: min(1.5625vw, 2rem);
  font-family: "Avenir", sans-serif;
  font-weight: 600;
  color: #fff;
  background: #2C334B;
  outline: 3px solid #2C334B;
}
@media screen and (max-width: 765px) {
  .p-top__service-item-title::before {
    font-size: 5.333vw;
  }
}
.p-top__service-item-text {
  width: 90.85%;
  font-size: clamp(1.4rem, 1.3171270718rem + 0.2209944751vw, 1.6rem);
  font-weight: bold;
  color: #A4ABB0;
  line-height: 1.5;
  letter-spacing: 0.126em;
  margin: min(4.6875vw, 60px) auto 0;
}
@media screen and (max-width: 765px) {
  .p-top__service-item-text {
    line-height: 1.7142857143;
    margin-top: 13.333vw;
  }
}
.p-top__service-footer {
  margin-top: clamp(5.7rem, 6.155801105rem + -1.2154696133vw, 4.6rem);
}
.p-top__blog {
  width: min(84%, 1100px);
  margin: clamp(17.4rem, 14.0022099448rem + 9.0607734807vw, 25.6rem) auto 0;
}
.p-top__blog-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px 50px;
  margin-top: clamp(3rem, 2.5856353591rem + 1.1049723757vw, 4rem);
}
@media screen and (max-width: 765px) {
  .p-top__blog-list {
    grid-template-columns: repeat(2, 1fr);
    gap: 5.867vw 4.8vw;
  }
}
.p-top__blog-footer {
  margin-top: clamp(4.6rem, 3.191160221rem + 3.7569060773vw, 8rem);
}

.p-about__entrance {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: min(78%, 1000px);
  margin: -14.063vw auto 0;
  padding: 5.625vw 3.594vw 6.641vw 8.906vw;
  background: #FAFAFA;
  z-index: 1;
}
@media screen and (max-width: 765px) {
  .p-about__entrance {
    flex-direction: column;
    width: 100%;
    padding: 5.333vw 8vw;
  }
}
.p-about__entrance-left {
  flex: 1;
}
.p-about__entrance-right {
  flex: 1;
}
.p-about__entrance-copy {
  font-size: clamp(1.8rem, 1.0541436464rem + 1.9889502762vw, 3.6rem);
  font-family: "Avenir", sans-serif;
  font-weight: 600;
  color: #434343;
  line-height: 1.3611111111;
  letter-spacing: 0.208em;
}
.p-about__entrance-text {
  font-size: clamp(1.4rem, 1.1513812155rem + 0.6629834254vw, 2rem);
  font-weight: bold;
  color: #434343;
  line-height: 2;
  letter-spacing: 0.085em;
}
@media screen and (max-width: 765px) {
  .p-about__entrance-text {
    margin-top: 3.2vw;
  }
}
.p-about__main {
  width: min(84%, 1000px);
  margin: 88px auto 0;
}
@media screen and (max-width: 765px) {
  .p-about__main {
    width: 100%;
    padding: 0 8vw;
  }
}
.p-about__main-title {
  font-size: clamp(1.8rem, 1.5513812155rem + 0.6629834254vw, 2.4rem);
  font-weight: bold;
  color: #474747;
  line-height: 1.6666666667;
  letter-spacing: 0.085em;
}
.p-about__main-inner {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 765px) {
  .p-about__main-inner {
    flex-direction: column;
  }
}
.p-about__main-left {
  flex: 1;
}
.p-about__main-right {
  flex: 1;
  margin-left: 40px;
}
@media screen and (max-width: 765px) {
  .p-about__main-right {
    margin-left: 0;
  }
}
.p-about__main-text {
  font-size: clamp(1.2rem, 1.1171270718rem + 0.2209944751vw, 1.4rem);
  font-weight: bold;
  color: #474747;
  text-align: justify;
  line-height: 2;
  letter-spacing: 0.126em;
  margin-top: 40px;
}
.p-about__data {
  margin-top: 113px;
  padding: clamp(8rem, 4.6850828729rem + 8.8397790055vw, 16rem) 0 clamp(8rem, 5.8038674033rem + 5.8563535912vw, 13.3rem);
  background: #FAFAFA;
}
.p-about__data-inner {
  display: flex;
  justify-content: space-between;
  width: min(84%, 880px);
  margin: 0 auto;
}
@media screen and (max-width: 765px) {
  .p-about__data-inner {
    flex-direction: column;
  }
}
.p-about__data-info {
  flex: 1;
}
.p-about__data-title {
  font-size: clamp(1.8rem, 1.0541436464rem + 1.9889502762vw, 3.6rem);
  font-family: "Avenir", sans-serif;
  font-weight: 600;
  color: #212F41;
  letter-spacing: 0.126em;
  line-height: 1.3611111111;
}
.p-about__data-list {
  margin-top: 52px;
}
.p-about__data-item + .p-about__data-item {
  margin-top: clamp(1.8rem, 1.4685082873rem + 0.8839779006vw, 2.6rem);
}
.p-about__data-text {
  font-size: clamp(1.2rem, 0.8685082873rem + 0.8839779006vw, 2rem);
  font-weight: bold;
  color: #505050;
  letter-spacing: 0.126em;
  line-height: 1.5;
}
.p-about__data-image {
  flex: 1;
}
@media screen and (max-width: 765px) {
  .p-about__data-image {
    margin-top: 10.667vw;
  }
}

.p-price__menu {
  display: flex;
  justify-content: center;
  padding: 0 16.64%;
  border-bottom: 1px solid #202037;
}
@media screen and (max-width: 765px) {
  .p-price__menu {
    padding: 0;
  }
}
.p-price__menu-item {
  width: 33.3333333333%;
  font-size: clamp(1.4rem, 0.9856353591rem + 1.1049723757vw, 2.4rem);
  font-weight: bold;
  letter-spacing: 0.126em;
  padding: clamp(1.6rem, 1.0198895028rem + 1.546961326vw, 3rem) 0;
  text-align: center;
}
.p-price__menu-link {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.p-price__menu-link::after {
  content: "";
  display: block;
  height: 1px;
  width: 100%;
  background: #364d6a;
  position: absolute;
  bottom: 0;
  left: 0;
  transform-origin: right top;
  transform: scale(0, 1);
  transition: transform 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.p-price__menu-link i {
  transition: transform 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.p-price__menu-link i::after {
  content: "";
  display: block;
  width: 14px;
  height: 14px;
  margin-top: clamp(0.6rem, 0.5171270718rem + 0.2209944751vw, 0.8rem);
  border-top: 3px solid #212138;
  border-right: 3px solid #212138;
  transform: rotate(135deg);
}
@media screen and (max-width: 765px) {
  .p-price__menu-link i::after {
    width: 12px;
    height: 12px;
  }
}
.p-price__menu-link:hover::after {
  transform-origin: left top;
  transform: scale(1, 1);
}
.p-price__menu-link:hover i {
  transform: translateY(5px);
}
.p-price__list {
  width: min(84%, 1220px);
  margin: 0 auto;
  margin-top: clamp(5.4rem, 3.1624309392rem + 5.9668508287vw, 10.8rem);
  margin-bottom: clamp(7.5rem, 4.3922651934rem + 8.2872928177vw, 15rem);
}
.p-price__item + .p-price__item {
  margin-top: clamp(7rem, 4.0165745856rem + 7.955801105vw, 14.2rem);
}
.p-price__item-title {
  position: relative;
  font-size: min(1.875vw, 2.4rem);
  font-weight: bold;
  letter-spacing: 0.126em;
  padding: 1em 0 1em 10.625vw;
}
@media screen and (max-width: 765px) {
  .p-price__item-title {
    font-size: 6.4vw;
    padding: 0.6em 0 0.6em 36vw;
  }
}
.p-price__item-title::before {
  position: absolute;
  content: attr(data-number);
  top: 0;
  left: 0;
  width: 7.266vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: min(1.5625vw, 2rem);
  font-family: "Avenir", sans-serif;
  font-weight: 600;
  color: #fff;
  background: #2C334B;
}
@media screen and (max-width: 765px) {
  .p-price__item-title::before {
    font-size: 5.333vw;
    width: 17.333vw;
  }
}
.p-price__item-service {
  font-size: clamp(1.8rem, 1.7171270718rem + 0.2209944751vw, 2rem);
  font-weight: bold;
  color: #212138;
  letter-spacing: 0.126em;
  margin-top: 30px;
}
.p-price__item-text {
  font-size: clamp(1.2rem, 1.1171270718rem + 0.2209944751vw, 1.4rem);
  font-weight: bold;
  color: #212138;
  line-height: 2;
  letter-spacing: 0.126em;
  margin-top: 12px;
}
@media screen and (max-width: 765px) {
  .p-price__item-table {
    overflow-x: auto;
  }
}
.p-price__table {
  width: min(100%, 1220px);
  margin: 40px auto 0;
  border-collapse: collapse;
}
@media screen and (max-width: 765px) {
  .p-price__table {
    margin-bottom: 16px;
    min-width: 1220px;
  }
}
.p-price__table-head {
  position: relative;
  font-size: clamp(1.8rem, 1.7171270718rem + 0.2209944751vw, 2rem);
  font-weight: bold;
  color: #202037;
  padding: 0 0 16px 35px;
  border-bottom: 10px solid #202037;
}
.p-price__table-head + .p-price__table-head::after {
  position: absolute;
  display: block;
  content: "";
  left: 0;
  bottom: -10px;
  width: 1px;
  height: 10px;
  background: #fff;
  z-index: 1;
}
.p-price__table-col01, .p-price__table-col02, .p-price__table-col03 {
  height: 48px;
  border: 1px solid #202037;
}
.p-price__table-col01 {
  width: 47%;
}
.p-price__table-col02 {
  width: 22%;
}
.p-price__table-col03 {
  width: 31%;
}
.p-price__table.first tbody tr th {
  background: #F2F2F2;
}
.p-price__table.second tbody tr:nth-child(even) {
  background: #F2F2F2;
}

.p-service__contents {
  padding: 1.172vw;
  background: #F2F2F2;
}
@media screen and (max-width: 765px) {
  .p-service__contents {
    padding: 4vw;
  }
}
.p-service__inner {
  padding: 11.328vw 7.422vw;
  background: #fff;
}
@media screen and (max-width: 1025px) {
  .p-service__inner {
    padding: 7.5vw 4.5vw;
  }
}
.p-service__list {
  max-width: 1060px;
  margin: 0 auto;
}
.p-service__item {
  display: flex;
  justify-content: space-between;
}
.p-service__item + .p-service__item {
  margin-top: 120px;
}
@media screen and (max-width: 765px) {
  .p-service__item {
    flex-direction: column;
  }
}
.p-service__item-body {
  width: min(50%, 530px);
}
@media screen and (max-width: 765px) {
  .p-service__item-body {
    width: 100%;
  }
}
.p-service__item-title {
  position: relative;
  font-size: min(1.875vw, 2.4rem);
  font-weight: bold;
  letter-spacing: 0.126em;
  padding: 1em 0 1em 10.625vw;
}
@media screen and (max-width: 765px) {
  .p-service__item-title {
    font-size: 6.4vw;
    padding: 0.6em 0 0.6em 36vw;
  }
}
.p-service__item-title::before {
  position: absolute;
  content: attr(data-number);
  top: 0;
  left: 0;
  width: 7.266vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: min(1.5625vw, 2rem);
  font-family: "Avenir", sans-serif;
  font-weight: 600;
  color: #fff;
  background: #2C334B;
}
@media screen and (max-width: 765px) {
  .p-service__item-title::before {
    font-size: 5.333vw;
    width: 17.333vw;
  }
}
.p-service__item-text {
  font-size: clamp(1.2rem, 1.1171270718rem + 0.2209944751vw, 1.4rem);
  color: #888;
  line-height: 1.7142857143;
  letter-spacing: 0.208em;
  text-align: justify;
}
.p-service__item-text:first-of-type {
  margin-top: 30px;
}
.p-service__item-text + .p-service__item-text {
  margin-top: 36px;
}
.p-service__item-detail {
  width: min(45%, 478px);
  padding: 5vw 3.125vw;
  background: #FAFAFA;
}
@media screen and (max-width: 1025px) {
  .p-service__item-detail {
    padding: 5.4vw 2.6vw;
  }
}
@media screen and (max-width: 765px) {
  .p-service__item-detail {
    width: 100%;
    padding: 11.733vw 6.933vw;
    margin-top: 30px;
  }
}
.p-service__item-service {
  position: relative;
  font-size: clamp(1.6rem, 1.5171270718rem + 0.2209944751vw, 1.8rem);
  font-weight: bold;
  color: #202037;
  letter-spacing: 0.208em;
  line-height: 1.5;
  text-align: center;
}
.p-service__item-service.add-quotation {
  margin-bottom: 3em;
}
.p-service__item-service.add-quotation::before, .p-service__item-service.add-quotation::after {
  position: absolute;
  font-size: clamp(2.4rem, 0.7425414365rem + 4.4198895028vw, 6.4rem);
  font-weight: bold;
  color: #CDCDD2;
  top: -0.234375em;
}
.p-service__item-service.add-quotation::before {
  content: "“";
  left: 0;
}
.p-service__item-service.add-quotation::after {
  content: "”";
  right: 0;
}
.p-service__item-list {
  font-size: clamp(1.2rem, 1.1171270718rem + 0.2209944751vw, 1.4rem);
  font-weight: bold;
  color: #888;
  letter-spacing: 0.208em;
}
.p-service__item-list::before {
  content: "・";
  font-size: clamp(1.2rem, 1.1171270718rem + 0.2209944751vw, 1.4rem);
  font-weight: bold;
  color: #888;
}
.p-service__item-list + .p-service__item-list {
  margin-top: 1.1em;
}
@media screen and (max-width: 1025px) {
  .p-service__item-list {
    letter-spacing: 0.1em;
  }
}
.p-service__item-footer {
  margin-top: 40px;
}

.p-contact__contents {
  width: min(84%, 840px);
  padding: clamp(10.8rem, 6.3248618785rem + 11.9337016575vw, 21.6rem) 0 clamp(10.5rem, 6.1491712707rem + 11.6022099448vw, 21rem);
  margin: 0 auto;
}
.p-contact__title {
  font-size: clamp(1.8rem, 1.2198895028rem + 1.546961326vw, 3.2rem);
  font-weight: bold;
  color: #5B5C5C;
  letter-spacing: 0.126em;
  text-align: center;
}
.p-contact__form-list {
  margin-top: clamp(11.8rem, 6.9104972376rem + 13.0386740331vw, 23.6rem);
}
.p-contact__form-item + .p-contact__form-item {
  margin-top: clamp(4.2rem, 2.4596685083rem + 4.6408839779vw, 8.4rem);
  min-height: 0vw;
}
.p-contact__form-title {
  font-size: clamp(1.4rem, 1.2342541436rem + 0.4419889503vw, 1.8rem);
  color: #212121;
}
.p-contact__form-submit {
  margin-top: clamp(3.8rem, 2.2254143646rem + 4.1988950276vw, 7.6rem);
}
.p-contact input[type=text], .p-contact input[type=email], .p-contact input[type=tell] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #ADADAD;
  font-size: clamp(1.6rem, 1.5171270718rem + 0.2209944751vw, 1.8rem);
  color: #212121;
  letter-spacing: 0.12em;
  margin-top: 8px;
}
.p-contact input[type=submit] {
  display: block;
  width: 520px;
  margin: 0 auto;
  padding: clamp(2.6rem, 2.2685082873rem + 0.8839779006vw, 3.4rem) 0;
  font-size: clamp(1.6rem, 0.9370165746rem + 1.7679558011vw, 3.2rem);
  font-weight: 600;
  font-family: "Avenir", sans-serif;
  color: #fff;
  text-align: center;
  letter-spacing: 0.126em;
  border-radius: 100px;
  background: linear-gradient(to bottom right, #364d6a 0%, #599dc0 100%);
  background-size: 200% auto;
  transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.p-contact input[type=submit]:hover {
  transform: scale(0.95);
  background-position: right center;
}
@media screen and (max-width: 765px) {
  .p-contact input[type=submit] {
    width: 100%;
  }
}
.p-contact textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 100%;
  min-height: 348px;
  padding: 10px;
  font-size: clamp(1.6rem, 1.5171270718rem + 0.2209944751vw, 1.8rem);
  color: #212121;
  letter-spacing: 0.12em;
  border: 1px solid #ADADAD;
  margin-top: 24px;
}
@media screen and (max-width: 765px) {
  .p-contact textarea {
    min-height: 250px;
  }
}

.p-list__contents {
  width: min(84%, 1100px);
  margin: min((58/375)*100vw,116px) auto 0;
}
.p-list__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 100px 50px;
  margin-top: clamp(3rem, 2.5856353591rem + 1.1049723757vw, 4rem);
}
@media screen and (max-width: 765px) {
  .p-list__list {
    grid-template-columns: repeat(2, 1fr);
    gap: 5.867vw 4.8vw;
  }
}

.single .l-header {
  background: #FAFAFA;
}

.p-detail {
  /* 投稿記事本文エリア
  ------------------------------------------------------ */
  /* 投稿記事ヘッダー
  ------------------------------------------------------ */
  /* 投稿記事導入
  ------------------------------------------------------ */
}
.p-detail__body {
  margin-top: clamp(2.8rem, 1.6397790055rem + 3.0939226519vw, 5.6rem);
}
.p-detail__body > *:not(h2, h3, h4, h5, h6, figure) {
  margin-top: 2.25em;
}
.p-detail__body h2 {
  font-size: clamp(2.4rem, 2.0685082873rem + 0.8839779006vw, 3.2rem);
  font-weight: bold;
  color: #343434;
  line-height: 0.75;
  padding: 0.85em 0;
  border-top: 1px solid #707070;
  border-bottom: 1px solid #707070;
  margin-top: clamp(2.8rem, 1.6397790055rem + 3.0939226519vw, 5.6rem);
}
.p-detail__body h2 + * {
  margin-top: clamp(2.8rem, 1.6397790055rem + 3.0939226519vw, 5.6rem);
}
.p-detail__body h3 {
  font-size: clamp(1.6rem, 1.4342541436rem + 0.4419889503vw, 2rem);
  font-weight: bold;
  color: #343434;
  line-height: 1.2;
  padding: 1em 1.15em;
  background: #F2F2F2;
  margin-top: clamp(4.6rem, 2.6939226519rem + 5.0828729282vw, 9.2rem);
}
.p-detail__body h3 + * {
  margin-top: clamp(2rem, 1.8342541436rem + 0.4419889503vw, 2.4rem);
}
.p-detail__body img {
  display: block;
  max-width: 100%;
  width: auto;
  height: auto;
  margin-top: clamp(4.6rem, 2.6939226519rem + 5.0828729282vw, 9.2rem);
  margin-left: auto;
  margin-right: auto;
}
.p-detail__contents {
  width: min(84%, 716px);
  margin: clamp(4rem, 2.2596685083rem + 4.6408839779vw, 8.2rem) auto 0;
}
.p-detail__header + * {
  margin-top: clamp(2rem, 1.1712707182rem + 2.2099447514vw, 4rem);
}
.p-detail__header-meta {
  font-size: clamp(1.2rem, 1.0342541436rem + 0.4419889503vw, 1.6rem);
  font-family: "Avenir", sans-serif;
  font-weight: 600;
  color: #A4ABB0;
}
.p-detail__header-title {
  font-size: clamp(2.4rem, 2.0685082873rem + 0.8839779006vw, 3.2rem);
  font-weight: bold;
  color: #5B5C5C;
  line-height: 1.3125;
  letter-spacing: 0.126em;
  margin-top: 10px;
}
.p-detail__intro {
  font-size: clamp(1.4rem, 1.3171270718rem + 0.2209944751vw, 1.6rem);
  line-height: 1.5;
  margin-top: min((20/375)*100vw, 40px);
}
.p-detail__intro-eyecatch {
  aspect-ratio: 717/494;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
.p-detail__intro-excerpt {
  margin-top: clamp(3rem, 1.7569060773rem + 3.3149171271vw, 6rem);
}
.p-detail__intro-excerpt-text:not(:first-child) {
  margin-top: 2.25em;
}
.p-detail__appeal {
  margin-top: clamp(10rem, 8.0110497238rem + 5.3038674033vw, 14.8rem);
  padding: clamp(5.2rem, 3.0038674033rem + 5.8563535912vw, 10.5rem) clamp(3rem, 0.5138121547rem + 6.6298342541vw, 9rem);
  background: #F2F2F2;
}
.p-detail__share {
  display: flex;
  justify-content: center;
  width: min(84%, 714px);
  margin: 0 auto;
}
@media screen and (max-width: 765px) {
  .p-detail__share {
    width: 100%;
    flex-direction: column;
  }
}
.p-detail__share-thumb {
  width: 43.98%;
}
@media screen and (max-width: 765px) {
  .p-detail__share-thumb {
    width: 100%;
  }
}
.p-detail__share-thumb img {
  aspect-ratio: 314/216;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.p-detail__share-list {
  display: flex;
  flex-direction: column;
  width: 56.02%;
  border: 1px solid #D0D0D0;
  background: #fff;
}
@media screen and (max-width: 765px) {
  .p-detail__share-list {
    width: 100%;
  }
}
.p-detail__share-item {
  flex: 1;
}
@media screen and (max-width: 765px) {
  .p-detail__share-item {
    padding: 6.4vw 0;
  }
}
.p-detail__share-item:not(:last-child) {
  border-bottom: 1px solid #D0D0D0;
}
.p-detail__share-item-text {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-weight: bold;
}
.p-detail__recommend {
  padding-top: clamp(5.2rem, 3.0038674033rem + 5.8563535912vw, 10.5rem);
}
.p-detail__recommend-title {
  font-size: clamp(1.6rem, 1.4342541436rem + 0.4419889503vw, 2rem);
  font-weight: bold;
  color: #343434;
}
.p-detail__recommend-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 100px 50px;
  margin-top: clamp(2.1rem, 1.2298342541rem + 2.320441989vw, 4.2rem);
}
@media screen and (max-width: 765px) {
  .p-detail__recommend-list {
    grid-template-columns: repeat(2, 1fr);
    gap: 5.867vw 4.8vw;
  }
}

.p-error__content {
  padding: 1.172vw;
  background: #F2F2F2;
}
.p-error__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background: #fff;
}
.p-error__title {
  font-size: clamp(1.8rem, 1.0541436464rem + 1.9889502762vw, 3.6rem);
  font-weight: bold;
}
.p-error__message {
  font-size: clamp(1.4rem, 1.1513812155rem + 0.6629834254vw, 2rem);
}
.p-error__link {
  position: relative;
  display: inline-block;
  font-size: clamp(1.2rem, 1.0342541436rem + 0.4419889503vw, 1.6rem);
  margin-top: clamp(1.4rem, 1.1513812155rem + 0.6629834254vw, 2rem);
}
.p-error__link::after {
  content: "";
  display: block;
  height: 1px;
  width: 100%;
  background: #364d6a;
  position: absolute;
  bottom: 0;
  left: 0;
  transform-origin: right top;
  transform: scale(0, 1);
  transition: transform 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.p-error__link:hover {
  color: #364d6a;
}
.p-error__link:hover::after {
  transform-origin: left top;
  transform: scale(1, 1);
}
/*# sourceMappingURL=style.css.map */