@charset "utf-8";

.single .l-header {
    background: #FAFAFA;
}

.p-detail {

    /* 投稿記事本文エリア
    ------------------------------------------------------ */
    &__body {
        margin-top: clamp_size(28, 56);

        > *:not(h2,h3,h4,h5,h6,figure) {
            margin-top: 2.25em;
        }
    
        h2 {
            font-size: clamp_size(24, 32);
            font-weight: bold;
            color: #343434;
            line-height: (24 / 32);
            padding: 0.85em 0;
            border-top: 1px solid #707070;
            border-bottom: 1px solid #707070;
            margin-top: clamp_size(28, 56);
    
            & + * {
                margin-top: clamp_size(28, 56);
            }
        }
    
        h3 {
            font-size: clamp_size(16, 20);
            font-weight: bold;
            color: #343434;
            line-height: (24 / 20);
            padding: 1em 1.15em;
            background: #F2F2F2;
            margin-top: clamp_size(46, 92);
    
            & + * {
                margin-top: clamp_size(20, 24);
            }
        }

        img {
            display: block;
            max-width: 100%;
            width: auto;
            height: auto;
            margin-top: clamp_size(46, 92);
            margin-left: auto;
            margin-right: auto;
        }
    }

    &__contents {
        width: unquote('min(84%, 716px)');
        margin: clamp_size(40, 82) auto 0;
    }

    /* 投稿記事ヘッダー
    ------------------------------------------------------ */
    &__header {
        & + * {
            margin-top: clamp_size(20, 40);
        }
        
        &-meta {
            font-size: clamp_size(12, 16);
            font-family: $font-family-english;
            font-weight: 600;
            color: #A4ABB0;
        }
        
        &-title {
            font-size: clamp_size(24, 32);
            font-weight: bold;
            color: #5B5C5C;
            line-height: (42 / 32);
            letter-spacing: 0.126em;
            margin-top: 10px;
        }
    }

    /* 投稿記事導入
    ------------------------------------------------------ */
    &__intro {
        font-size: clamp_size(14, 16);
        line-height: (24 / 16);
        margin-top: unquote('min((20/375)*100vw, 40px)');

        &-eyecatch {
            aspect-ratio: 717 / 494;
            object-fit: cover;
            width: 100%;
        }
    
        &-excerpt {
            margin-top: clamp_size(30, 60);
    
            &-text {
                &:not(:first-child) {
                    margin-top: 2.25em;
                }
            }
        }
    }

    &__appeal {
        margin-top: clamp_size(100, 148);
        padding: clamp_size(52, 105) clamp_size(30, 90);
        background: #F2F2F2;
    }

    &__share {
        display: flex;
        justify-content: center;
        width: unquote('min(84%, 714px)');
        margin: 0 auto;

        @include mq(sp) {
            width: 100%;
            flex-direction: column;
        }

        &-thumb {
            width: per(314, 714);

            @include mq(sp) {
                width: 100%;
            }

            img {
                aspect-ratio: 314 / 216;
                width: 100%;
                object-fit: cover;
            }
        }

        &-list {
            display: flex;
            flex-direction: column;
            width: per(400, 714);
            border: 1px solid #D0D0D0;
            background: #fff;

            @include mq(sp) {
                width: 100%;
            }
        }

        &-item {
            flex: 1;

            @include mq(sp) {
                padding: vw_sp(24) 0;
            }

            &:not(:last-child) {
                border-bottom: 1px solid #D0D0D0;
            }

            &-text {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
                font-weight: bold;
            }
        }
    }

    &__recommend {
        padding-top: clamp_size(52, 105);

        &-title {
            font-size: clamp_size(16, 20);
            font-weight: bold;
            color: #343434;
        }

        &-list {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 100px 50px;
            margin-top: clamp_size(21, 42);

            @include mq(sp) {
                grid-template-columns: repeat(2, 1fr);
                gap: vw_sp(22) vw_sp(18);
            }
        }
    }
}