@charset "utf-8";

/* ==========================================================================
# header
========================================================================== */
.l-header {
	position: sticky;
	top: 0;
	z-index: 999;
	background-color: rgba(255,255,255,0.95);

	&__inner {
		position: relative;
		display: flex;
		align-items: center;
		width: unquote('min(84%, 1100px)');
		height: clamp_size(65, 111);
		margin: 0 auto;
	}

	&__title {
		width: clamp(164px, 15vw, 194px);
		line-height: 1;

		&-link {
			display: block;
		}
	}

	&__nav {
		margin-left: auto;

		@include mq(sp) {
			position: fixed;
			right: 0;
			left: 0;
			top: 0;
			width: 100vw;
			height: 100vh;
			transform: translateX(100%);
			background-color: rgba(255,255,255,0.95);
			transition: ease .4s;
			z-index: 100;

			&.is-openMenu {
				transform: translateX(0);
			}
		}

		&-list {
			display: flex;

			@include mq(sp) {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				flex-direction: column;
				align-items: center;
			}
		}

		&-item {
			font-size: clamp_size(12, 16);
			font-family: $font-family-english;
			font-weight: 400;
			color: #444;
			letter-spacing: 0.125em;

			& + & {
				margin-left: 3.25em;

				@include mq(sp) {
					margin-left: 0;
					margin-top: vw_sp(33);
				}
			}

			&:nth-child(1) {
				animation-delay: 95ms;
			}
			&:nth-child(2) {
				animation-delay: 120ms;
			}
			&:nth-child(3) {
				animation-delay: 135ms;
			}
			&:nth-child(4) {
				animation-delay: 330ms;
			}
			&:nth-child(5) {
				animation-delay: 525ms;
			}
		}

		&-link {
			position: relative;
			display: inline-block;

			&::after {
				content: '';
				display: block;
				height: 1px;
				width: 100%;
				background: #364d6a;
				position: absolute;
				bottom: 0;
				left: 0;
				transform-origin: right top;
				transform: scale(0,1);
				transition: transform .4s cubic-bezier(.165,.84,.44,1);
			}

			&:hover {
				color: #364d6a;

				&::after {
					transform-origin: left top;
					transform: scale(1,1);
				}
			}

			@include mq(sp) {
				display: block;
				width: 100%;
				font-size: 2rem;
			}
		}
	}

	&__menu {
		position: relative;
		width: 30px;
		height: 80px;
		margin-left: auto;
		z-index: 200;

		&-inline {
			display: inline-block;
			position: absolute;
			width: 100%;
			height: 1px;
			left: 50%;
			transform: translateX(-50%);
			background: #444;
			transition: all .4s;

			&:nth-child(1) {
				top: 30px;
			}
	
			&:nth-child(2) {
				top: 50%;
				transform: translate(-50%,-50%);
			}
	
			&:nth-child(3) {
				bottom: 30px;
			}
		}

		&.is-openMenu {

			.l-header__menu-inline {
				&:nth-child(1) {
					transform: translate(-50%,10px) rotate(45deg);
				}

				&:nth-child(2) {
					opacity: 0;
				}

				&:nth-child(3) {
					transform: translate(-50%,-10px) rotate(-45deg);
				}
			}
		}
	}
}